:root {
  --SearchForm-size: 80px;
}

.SearchForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: var(--SearchForm-size);
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid;
}

.SearchForm__link {
  display: block;
  width: var(--SearchForm-size);
  height: var(--SearchForm-size);
  background-image: url('../assets/icons/arrow-back.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.SearchForm__fieldset {
  width: 100%;
  height: 100%;
}

.SearchForm__field {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.SearchForm__field:focus {
  outline: none;
}

:root {
  --SearchForm-loader-size: calc(var(--SearchForm-size) * .6);
  --SearchForm-loader-gutter: calc(var(--SearchForm-size) * .2);
}

.SearchForm__loader {
  box-sizing: border-box;
  flex: 1;
      width: var(--SearchForm-loader-size);
  min-width: var(--SearchForm-loader-size);
  max-width: var(--SearchForm-loader-size);
      height: var(--SearchForm-loader-size);
  min-height: var(--SearchForm-loader-size);
  max-height: var(--SearchForm-loader-size);
  margin: var(--SearchForm-loader-gutter);
  padding: 0;
  border-radius: 50%;
  border: 4px solid transparent;
  border-right-color: #888;
  border-bottom-color: #888;
  animation: spin linear .8s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
